<!doctype html> 
<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%if(helmetTags) {%>
		<%helmetTags.title.toString()%>
		<%helmetTags.meta.toString()%>
	<%}%>
	<link rel="stylesheet" type="text/css" href="./src/style.css">
	</head>
	<body>
		<div id ="root"><%htmlContent%></div>
		<script>
			window.INITIAL_STATE = <%storeData%>
		</script>
		<script src="main.bundle.js"></script>
	</body>
</html>