body{
	background-color: #F8F6F6;
}

/*Start Style Signup html*/
		.container{
			box-sizing: border-box;
			background: #4D48A0;
			height: 100vh;
			position: relative;
		}
		.box{
			position: absolute;
			right:0;
			top: 0;
			left: 0;
			bottom: 0;
			background: #fff;
			max-width: 300px;
			padding: 20px;
			border-radius: 2px;
			margin: auto;
			height: 400px;
		}
		.heading{
			font-style: bold;
			text-align: center;
			font-weight: 500;
			font-size: 28px;
		}
		.hd-txt{
			text-align: center;
		}
		.blck p {
			margin-bottom: 1px;
		}
		.lbl{
			padding: 4.5px;
			border-radius: 2px;
			width: 100%;
			border:#ddd solid 1px;
		}
		.btn{
			width: 100%;
			background: #16B80E;
			padding: 4px;
			margin-top:20px; 
			color:#fff;
			cursor: pointer;
		}
		.btn:hover{
			background: #2C9227
		}
		.log-txt{
			margin: 20px;
			font-size: 13px;
		}
		.log{
			color:#16B80E;
			cursor: pointer;
		}

		.footer{
			position: fixed;
		    bottom: 0;
		    right: 0;
		    left: 0;
		}
/*End Style Signup html*/

/*START HOTEL*/
		.nrby-txt{
			font-weight: 900;
		}
		body{
			margin: 0px;
			padding:0px;
			box-sizing: border-box;
		}
		.header{
			background: #4D48A0;
			position: sticky;
			top: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}
		.header span{
			color:white;
			padding: 16px 8px;
			cursor: pointer;
		}
		.left-nav{

		}
		.right-nav{
			display: flex;
			justify-content: flex-end;
		}
		.right-spn:hover {
			background: #111111;
		}
		.f-section{

		}
		.f-img{
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			height: 80vh;
			position: absolute;
		}
		.f-txt{
			position: relative;
			text-align: center;
			top: 60px;
		}
		.f-txt p{
			color:#fff;
		}
		.ftxt-f{

		}
		.ftxt-s{

		}
		.ftxt-t{
			background: #000;
		}

/*END HOTEL*/

/*********START PORTAL**********************/
.prtlBody{
	padding: 10px 2px;
}

.srch-bar{
	justify-content: center;
    display: flex;
}
.srch-text-bar{
	background-color: #fff;
	padding: 10px;
    width: 80%;
    border: 2px;
    border-style: solid;
    border-radius: 3px;
    border-color: rebeccapurple;
}
.srch-list{
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 8px 0px;
}
.srch-card{
	width: 80%;
	color: grey;
	text-align: center;
	padding: 2px;
	/*border:1px;
	border-color: black;
	border-style: solid;

	border-left-color: #fff;
	border-right-color: #fff;*/
	cursor: pointer;
}

.srch-card:hover{
	background-color: #E0DCDC;
}
.cross-icn{
	position: absolute;
	cursor: pointer;
	right: 0;
}

/*********END PORTAL**********************/